// <MAIN> ===============================
.main {
	position: relative;
	z-index: 1;
	background-color: #242321;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 54% 100%, 31% 95%, 0% 100%);
	&__body {
		padding: 0px 25px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__image {
		display: block;
		flex: 0 1 1000px;
		& img {
			max-width: 100%;
		}
	}
	@media (max-width: 600px){
		clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 54% 100%, 21% 98%, 0% 100%);
	}
}

// <ABOUT> ===============================
.about {
	padding: 0px 0px 60px 0px;
	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0px -15px;
	}

	&__column {
		flex: 0 1 50%;
		&_1 {
			display: flex;
			justify-content: flex-end;
		}
		padding: 0px 15px;
	}

	&__body {
		max-width: 520px;
	}

	&__title {
		font-size: 36px;
		& span {
			font-size: 23px;
		}
	}

	&__subtitle {
		margin: 41px 0px 0px 0px;
		font-size: 23px;
		line-height: 30px;
	}

	&__photos {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	&__image {
		flex: 0 1 309px;
		& img {
			max-width: 100%;
		}
		&_1 {
			transform: translate(0, -25%);
		}

		&_2 {
			transform: translate(0, 38%);
		}
	}

	@media (min-width: 1800px) {
		&__column {
			&_1 {
				display: flex;
				justify-content: center;
			}
		}
		&__photos {
			justify-content: center;
		}
	}
	@media (max-width: 1340px) {
		&__image {
			flex: 0 1 259px;
		}
	}
	@media (max-width: 1160px) {
		&__wrapper {
			margin: 0px;
		}
		&__column {
			padding: 0px;
		}
		&__image {
			flex: 0 1 209px;
		}
		&__body {
			max-width: 460px;
			margin: 0px 0px 0px 20px;
		}
		&__title {
			font-size: 32px;
			& span {
				font-size: 20px;
			}
		}
		&__subtitle {
			margin: 31px 0px 0px 0px;
			line-height: 27px;
			font-size: 20px;
		}
	}
	@media (max-width: 970px) {
		&__column {
			&_1 {
				margin: 70px 0px 0px 0px;
				flex: 0 1 60%;
				justify-content: center;
			}
			&_2 {
				flex: 0 1 40%;
				transform: translate(15%, 0);
			}
		}
	}
	@media (max-width: 810px) {
		padding: 0px 0px 30px 0px;
		&__wrapper {
			align-items: stretch;
			margin: 0px -10px;
		}
		&__column {
			padding: 0px 10px;
			&_1 {
				flex: 0 1 70%;
				margin: 90px 0px 0px 0px;
			}
			&_2 {
				flex: 0 1 30%;
				transform: translate(0, 0);
			}
		}
		&__photos {
			justify-content: flex-start;
		}
		&__image {
			flex: 0 1 150px;
			&_2 {
				display: none;
				visibility: hidden;
			}
		}
	}
	@media (max-width: 720px) {
		&__body {
			max-width: 380px;
		}
		&__title {
			font-size: 26px;
			& span {
				font-size: 17px;
			}
		}
		&__subtitle {
			margin: 26px 0px 0px 0px;
			line-height: 24px;
			font-size: 17px;
		}
		&__column {
			&_1 {
				margin: 100px 0px 0px 0px;
			}
		}
	}
	@media (max-width: 610px) {
		&__photos {
			justify-content: flex-end;
		}
	}
	@media (max-width: 580px) {
		&__column {
			&_1 {
				margin: 90px 0px 0px 0px;
				justify-content: flex-start;
			}
		}
		&__body {
			max-width: 300px;
		}
		&__title {
			font-size: 22px;
			line-height: 32px;
			display: inline;
		}
		&__subtitle {
			display: inline;
			line-height: 30px;
		}
	}
	@media (max-width: 485px) {
		&__photos {
			display: none;
			visibility: hidden;
		}
		&__column {
			flex: 0 1 100%;
			&_1 {
				margin: 60px 0px 0px 0px;
				flex: 0 1 100%;
				justify-content: center;
			}
			&_2 {
				display: none;
				visibility: hidden;
			}
		}
	}
	@media (max-width: 340px){
		&__body{
			max-width: 285px;
		}
	}
}

// <SCHEDULE> ===============================
.schedule {
	position: relative;
	z-index: 1;
	padding: 100px 0px 0px 0px;
	background-color: #242321;
	clip-path: polygon(0% 10%, 53% 10%, 100% 0%, 100% 90%, 66.5% 100%, 0% 100%);
	&__wrapper {
		display: flex;
		justify-content: center;
		margin: 0px -49px;
	}

	&__column {
		flex: 0 1 50%;
		padding: 0px 49px;
	}

	&__body {
		margin: 104px 0px 0px 0px;
		text-align: center;
	}

	&__title {
		font-weight: bold;
		font-size: 22px;
		letter-spacing: 5px;
		color: #fff;
		margin: 0px 0px 35.7px 0px;
	}

	&__list {
		position: relative;
		&:before {
			content: "";
			position: absolute;
			width: 2px;
			height: 75px;
			top: 3px;
			left: 110px;
			background-color: #fff;
		}
		&:after {
			content: "";
			position: absolute;
			width: 136px;
			height: 2px;
			bottom: -45px;
			left: 50%;
			background-color: #fff;
			transform: translate(-50%, 0);
		}
	}

	&__point {
		margin: 20px 0px 0px 0px;
		font-size: 25px;
		color: #fff;
		&:first-child {
			margin: 0px 0px 0px 0px;
			position: relative;
		}
		& span {
			margin: 0px 0px 0px 10px;
		}
	}

	&__photo {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 25px 0px 40px 0px;
	}

	&__image {
		flex: 0 1 450px;
		& img {
			max-width: 100%;
		}
	}
	@media (max-width: 1150px) {
		clip-path: polygon(0% 10%, 53% 10%, 100% 0%, 100% 90%, 75% 100%, 0% 100%);
		&__image {
			flex: 0 1 350px;
		}
		&__body {
			margin: 44px 0px 0px 0px;
			text-align: center;
		}
		&__list {
			&:before {
				display: none;
			}
		}
	}

	@media (max-width: 1000px) {
		clip-path: polygon(0% 10%, 53% 10%, 100% 0%, 100% 90%, 66.5% 100%, 0% 100%);
		&__wrapper {
			margin: 0px -20px;
		}
		&__column {
			padding: 0px 30px;
		}
		&__body {
			margin: 24px 0px 0px 0px;
		}
		&__photo {
			justify-content: flex-start;
			margin: 20px 0px 60px 0px;
		}
		&__image {
			flex: 0 1 300px;
		}
	}
	@media (max-width: 900px) {
		&__title {
			letter-spacing: 3px;
		}
	}
	@media (max-width: 850px) {
		clip-path: polygon(0% 10%, 53% 10%, 100% 0%, 100% 90%, 72% 100%, 0% 100%);
		&__photo {
			margin: 70px 0px 40px 0px;
			justify-content: center;
		}
		&__image {
			flex: 0 1 250px;
		}
		&__title {
			font-size: 20px;
			margin: 0px 0px 30px 0px;
		}
		&__list {
			&:after {
				width: 113px;
				bottom: -25px;
			}
		}
		&__point {
			margin: 15px 0px 0px 0px;
			font-size: 23px;
			color: #fff;
			& span {
				margin: 0px 0px 0px 7px;
			}
		}
	}
	@media (max-width: 750px) {
		&__title {
			line-height: 28px;
			letter-spacing: 5px;
			margin: 0px 0px 25px 0px;
		}
	}
	@media (max-width: 620px) {
		padding: 90px 0px 0px 0px;
		clip-path: polygon(0% 10%, 53% 10%, 100% 0%, 100% 90%, 70% 100%, 0% 100%);
		&__wrapper {
			margin: 0px -5px;
		}
		&__column {
			padding: 0px 5px;
		}
		&__body {
			margin: 0px 0px 0px 0px;
		}
		&__photo {
			margin: 80px 0px 30px 0px;
		}
		&__image {
			flex: 0 1 200px;
		}
	}
	@media (max-width: 500px) {
		&__wrapper {
			flex-wrap: wrap;
			margin: 0px;
		}
		&__column {
			padding: 0px;
			flex: 0 1 100%;
		}
		&__body {
			padding: 0px 0px 70px 0px;
		}
		&__photo {
			display: none;
		}
	}
}

// <LIFE> ===============================
.life {
	position: relative;
	z-index: 2;
	margin: 13px 0px 0px 0px;
	background-color: #242321;
	padding: 142px 0px 91px 0px;
	text-align: center;
	clip-path: polygon(0% 9%, 35% 10%, 70% 9%, 100% 1%, 100% 98%, 60% 100%, 40% 98%, 20% 95%, 0% 95%);
	&__wrapper {
		position: relative;
		text-align: center;
		padding: 85px 0px 111px 0px;
		&:before {
			content: "";
			position: absolute;
			width: 1px;
			height: 75px;
			top: 0;
			right: 0;
			background-color: #f3ebeb;
			animation: line-right 3s linear infinite alternate;
		}
		&:after {
			content: "";
			position: absolute;
			width: 1px;
			height: 75px;
			top: 60%;
			left: 0;
			background-color: #f3ebeb;
			animation: line-left 3s linear infinite alternate;
		}
		& span {
			display: block;
			position: absolute;
			width: 1px;
			height: 75px;
			bottom: 0;
			right: 10%;
			background-color: #f3ebeb;
			animation: line-botton 4s linear infinite alternate 1s;
		}
	}
	@keyframes line-right {
		0% {
			top: 10%;
		}
		100% {
			top: 0%;
		}
	}

	@keyframes line-left {
		0% {
			top: 45%;
		}
		100% {
			top: 55%;
		}
	}

	@keyframes line-botton {
		0% {
			bottom: 0%;
		}
		100% {
			bottom: 10%;
		}
	}

	&__title {
		color: #f3ebeb;
		font-family: "Montserrat Alternates";
		font-weight: 600;
		font-size: 40px;
	}

	&__body {
		margin: 70px 0px 0px 0px;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			width: 73px;
			height: 2px;
			bottom: -65px;
			left: 50%;
			transform: translate(-50%, 0);
			background-color: #f3ebeb;
		}
	}

	&__wrap {
		margin: 35px 0px 0px 0px;
		&:first-child {
			margin: 0px 0px 0px 0px;
		}
	}

	&__link {
		position: relative;
		font-family: "Montserrat Alternates";
		font-size: 20px;
		color: #f3ebeb;
		&:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			top: 50%;
			left: 0;
			background-color: #f3ebeb;
			transition: all 0.3s ease 0s;
			opacity: 0;
		}
		&:hover:before {
			top: 100%;
			opacity: 1;
		}
	}

	&__botton {
		margin: 162px 0px 0px 0px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__text {
		font-family: "Montserrat Alternates";
		font-weight: 500;
		font-size: 30px;
		letter-spacing: 0.03em;
		text-transform: lowercase;
		color: #f3ebeb;
		margin: 0px 52px 0px 0px;
	}

	&__button {
		position: relative;
		display: block;
		width: 165px;
		height: 50px;
		background-color: #fffefee5;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 5px;
		overflow: hidden;
		& p {
			font-family: "Montserrat Alternates";
			font-weight: 500;
			font-size: 20px;
			color: #000000;
			position: relative;
			z-index: 1;
			transition: all 0.3s ease 0s;
		}
		& span {
			position: absolute;
			width: 100%;
			height: 100%;
			top: -100%;
			left: 0;
			background-color: rgba(0, 0, 0, 0.486);
			transition: all 0.3s ease 0s;
		}
		&:hover {
			& span {
				top: 0;
			}
			& p {
				color: #f3ebeb;
			}
		}
	}
	@media (max-width: 1440px) {
		.container-2 {
			max-width: 1000px;
		}
		.life {
			&__wrapper {
				& span {
					right: 5%;
				}
			}
		}
	}
	@media (max-width: 1150px) {
		padding: 70px 0px 91px 0px;
	}
	@media (max-width: 1050px) {
		.container-2 {
			max-width: 800px;
		}
		&__wrapper {
			&::before,
			&::after {
				height: 60px;
			}
			& span {
				display: none;
			}
		}
	}
	@media (max-width: 870px) {
		padding: 50px 0px 10px 0px;
		&__wrapper {
			&:before {
				top: 5%;
			}
		}
		&__title {
			font-size: 32px;
		}
		&__body {
			margin: 50px 0px 0px 0px;
			&:after {
				bottom: -55px;
			}
		}
		&__wrap {
			margin: 27px 0px 0px 0px;
		}
		&__link {
			font-size: 18px;
		}
		&__botton {
			margin: 102px 0px 0px 0px;
			flex-direction: column;
		}
		&__text {
			font-size: 24px;
			margin: 0px 0px 25px 0px;
		}
		&__button {
			width: 115px;
			height: 40px;
		}
		.container-2 {
			max-width: 620px;
		}
	}
	@media (max-width: 700px) {
		padding: 25px 0px 0px 0px;
		&__wrapper {
			&::before,
			&::after {
				display: none;
			}
		}
	}
	@media (max-width: 500px) {
		padding: 15px 0px 0px 0px;
		&__wrapper {
			padding: 75px 0px 90px 0px;
		}
		&__title {
			font-size: 26px;
		}
		&__body {
			margin: 40px 0px 0px 0px;
			&:after {
				bottom: -50px;
			}
		}
		&__wrap {
			margin: 24px 0px 0px 0px;
		}
		&__link {
			font-size: 16px;
		}
		&__botton {
			margin: 92px 0px 0px 0px;
		}
		&__text {
			font-size: 20px;
			margin: 0px 0px 25px 0px;
		}
		&__button {
			width: 95px;
			height: 35px;
			& p {
				font-size: 18px;
			}
		}
	}
	@media (max-width: 360px) {
		&__title {
			font-size: 24px;
		}
		&__body {
			margin: 35px 0px 0px 0px;
			&:after {
				bottom: -45px;
			}
		}
		&__wrap {
			margin: 20px 0px 0px 0px;
		}
		&__link {
			line-height: 24px;
		}
		&__botton {
			margin: 87px 0px 0px 0px;
		}
		&__text {
			font-size: 18px;
			line-height: 22px;
			margin: 0px 0px 17px 0px;
		}
		&__button {
			width: 85px;
			height: 33px;
			& p {
				font-size: 18px;
			}
		}
	}
}

// <PLEASURE> ===============================
.pleasure {
	margin: -90px 0px 0px 0px;
	&__wrapper {
		display: flex;
		align-items: center;
	}

	&__imagine {
		position: relative;
		flex: 0 1 55%;
		display: flex;
		&:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: linear-gradient(to right, #f0ece809 55%, #f0ece8fb 70%, #f0ece8 100%);
			z-index: 1;
		}
	}

	&__picture {
		height: 800px;
		width: 684px;
	}

	&__main {
		text-align: center;
	}

	&__text {
		max-width: 450px;
	}

	&__title {
		margin: 0px 0px 35px 0px;
		font-weight: 700;
		font-size: 36px;
		color: #000000;
		text-align: left;
	}

	&__subtitle {
		font-weight: 500;
		font-size: 28px;
		line-height: 37px;
		text-align: left;
	}

	@media (max-width: 1170px) {
		margin: -80px 0px 0px 0px;
		&__imagine {
			&:before {
				background: linear-gradient(to right, #f0ece809 50%, #f0ece8fb 75%, #f0ece8 100%);
			}
		}
		&__picture {
			height: 580px;
			width: 484px;
		}
		&__main {
			margin: 50px 0px 0px 0px;
		}
		&__text {
			max-width: 350px;
		}
		&__title {
			margin: 0px 0px 20px 0px;
			font-size: 32px;
		}

		&__subtitle {
			font-size: 22px;
			line-height: 32px;
		}
	}
	@media (max-width: 880px) {
		&__imagine {
			&:before {
				background: linear-gradient(to right, #f0ece809 40%, #f0ece8fb 70%, #f0ece8 100%);
			}
		}
		&__picture {
			height: 480px;
			width: 384px;
		}

		&__text {
			max-width: 300px;
		}

		&__title {
			margin: 0px 0px 15px 0px;
			font-size: 28px;
		}

		&__subtitle {
			font-size: 18px;
			line-height: 28px;
		}
	}
	@media (max-width: 700px) {
		&__imagine {
			flex: 0 1 50%;
		}
		&__picture {
			height: 480px;
			width: 300px;
		}
	}
	@media (max-width: 615px) {
		&__wrapper {
			position: relative;
			display: block;
		}
		&__imagine {
			&:before {
				background: linear-gradient(to bottom, #f0ece809 0%, #c9c7c683 45%, #f0ece8 100%);
			}
		}
		&__picture {
			min-height: 100%;
			min-width: 100%;
		}
		&__main {
			position: absolute;
			margin: 20px 0px 0px 0px;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			text-align: center;
			z-index: 2;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&__title {
			color: #242321;
		}
		&__title,
		&__subtitle {
			text-align: center;
		}
	}
}
