.footer {
	position: relative;
	z-index: 3;
	margin: -30px 0px 0px 0px;
	padding: 155px 15px 105px 15px;
	background-color: #242321;
	clip-path: polygon(0% 5%, 50% 5%, 80% 0%, 100% 0%, 100% 100%, 0% 100%);
	&__wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__column {
	}

	&__info {
		max-width: 400px;
	}

	&__text {
		margin: 0px 0px 30px 0px;
		font-family: "Montserrat Alternates";
		font-weight: 600;
		font-size: 19px;
		line-height: 28px;
		letter-spacing: 0.06em;
		color: #ebe5e5;
	}

	&__adress {
		font-family: "Montserrat Alternates";
		font-weight: bold;
		font-size: 22px;
		letter-spacing: 0.03em;
		color: #eeeeee;
	}

	&__contacts {
	}

	&__title {
		margin: 0px 0px 70px 0px;
		font-family: "Montserrat Alternates";
		font-weight: 500;
		font-size: 28px;
		text-align: right;
		letter-spacing: 0.1em;
		color: #fbf2f2;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			width: 59%;
			height: 1px;
			bottom: -23px;
			right: 0;
			background-color: #fbf2f2;
		}
	}

	&__number {
		font-family: "Montserrat Alternates";
		font-weight: bold;
		font-size: 28px;
		letter-spacing: 0.1em;
		color: #fff7f7;
	}

	&__name {
		margin: 15px 0px 0px 0px;
		font-family: "Montserrat Alternates";
		font-weight: 500;
		font-size: 23px;
		text-align: right;
		letter-spacing: 0.1em;
		color: #fbf9f9;
		& span {
			margin: 3px 0px 0px 0px;
			display: block;
			font-weight: 300;
			font-size: 16px;
		}
	}

	@media (max-width: 1050px) {
		padding: 135px 15px 85px 15px;
		&__text {
			margin: 0px 0px 28px 0px;
			font-size: 17px;
			line-height: 28px;
		}

		&__adress {
			font-size: 20px;
		}

		&__title {
			margin: 0px 0px 60px 0px;
			font-size: 26px;
			&:before {
				width: 55%;
				bottom: -19px;
			}
		}

		&__number {
			font-size: 24px;
		}

		&__name {
			margin: 15px 0px 0px 0px;
			font-size: 21px;
			& span {
				margin: 5px 0px 0px 0px;
				font-size: 15px;
			}
		}
	}

	@media (max-width: 720px) {
		padding: 80px 15px 75px 15px;
		&__wrapper {
			flex-wrap: wrap;
			justify-content: center;
		}
		&__column {
			flex: 0 1 100%;
			text-align: center;
			&_1 {
				margin: 50px 0px 0px 0px;
				order: 2;
			}
			&_2 {
				order: 1;
			}
		}
		&__title {
			text-align: center;
			display: inline-block;
			margin: 0px 0px 70px 0px;
			font-size: 24px;
			&:before {
				content: "";
				width: 100%;
				bottom: -14px;
			}
		}
		&__number {
			display: block;
			font-size: 22px;
		}
		&__name {
			margin: 15px 0px 0px 0px;
			font-size: 19px;
			text-align: center;
			& span {
				margin: 5px 0px 0px 0px;
				font-size: 15px;
			}
		}
		&__text {
			display: none;
		}
		&__info {
			max-width: 100%;
		}
		&__adress {
			font-size: 18px;
		}
	}
	@media (max-width: 500px) {
		padding: 50px 10px 40px 10px;
		&__title {
			margin: 0px 0px 55px 0px;
			font-size: 24px;
			&:before {
				content: "";
				width: 85%;
				left: 50%;
				bottom: -12px;
				transform: translate(-50%, 0);
			}
		}
		&__column {
			&_1 {
				margin: 35px 0px 0px 0px;
			}
		}
		&__number {
			font-size: 20px;
		}
		&__name {
			margin: 11px 0px 0px 0px;
			font-size: 17px;
			& span {
				margin: 4px 0px 0px 0px;
				font-size: 13px;
			}
		}
		&__adress {
			font-size: 16px;
		}
	}
}
